.p-about__bg {
    padding: 110px 0 110px 50px;
    background-image: url(../../../img/about-img.jpg);
    background-size: cover;
    background-position: center;

    @include sp {
        padding: 50px 15px;
    }
}

.p-about__content {
    max-width: 590px;
    margin-right: auto;
    padding: 50px 30px;
    background-color: #fff;
    opacity: .9;
}