@charset "UTF-8";

.News__list {
    display: flex;
    margin: 50px auto;

    @include sp {
        display: block;
    }
}

.News__item {
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, .16);

    @include sp {
        width: 100%;
        margin:  50px auto;
    }
}

.News__img {
    margin: 0;
}

.News__text {
    padding: 25px;
}