@charset "utf-8";

.btn {
    max-width: 235px;
    margin: 0 auto;
}

.btn__link {
    margin: 0 auto;
    padding: 20px 70px;
    background-color: #F7D43F;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #1B1310;
    font-size: 16px;
    font-weight: bold;
    color: #171717;
    display: block;
    text-align: center;
}