@charset "UTF-8";

.GloNav {
    max-width: 40%;
    width: 100%;
    margin: 0 auto;

    @include sp {
        max-width: 100%;
        width: 100%;
        height: 100%;
        background-color: #1B1310;
        position: fixed;
        top: 0;
        left: 0;
        display: none;
        z-index: 98;
        text-align: center;
    }
}


.GloNav__list {
    display: flex;
    justify-content: space-between;

    @include sp {
        padding-top: 100px;
        display: block;

    }
}

.GloNav__item {

    @include sp {
        margin: 40px 0;
    }
}

.GloNav__link {
    color: #fff;

    @include sp {
        transition: .5s;
    }
}

.GloNav__link:hover {
    border-bottom: 1px solid #fff;
}