@charset "UTF-8";

* {
    box-sizing: border-box;
}

html,body,div,span,iframe,h1,h2,h3,h4,h5,p,a,img,ul,li,table,tr,th,td,tbody,footer,header,main,nav,section {
	margin: 0;
	padding: 0;
	border: 0;
	font-weight: normal;
	list-style: none;
	text-decoration: none;
}

body {
	background-color: #fff;
	font-family: 'Roboto';
	font-size: 16px;
	color: #333;
}


li,ol {
	list-style: none;
}

img {
	width: 100%;
	height: auto;	
}

.inner {
	width: 1030px;
	max-width: 100%;
	margin: 0 auto;
}

.wrap {
	overflow: hidden;
}