/**
 * #Footer
 */

.l-footer {
    background-color: #525252;
    color: #fff;
    font-size: 10px;
}

.l-footer__content {
    padding: 20px 0;
    text-align: center;

    @include sp {
        padding: 20px 0;
    }
}
